ul.classroom-view {
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	list-style: none;
	li {
		min-width: 300px;
		min-height: 300px;
		background-color: #f0f6fc;
		padding: 0.7em;
		border-radius: 0.5em;
		margin: 0.5em;
	}
}
