@use "calcudoku";
@use "logic";
@use "light";

div.app {
	display: grid;
	grid-template-columns: 220px 1fr;
	min-height: 95vh;
	user-select: none;

	ul {
		list-style: none;
	}

	div.student-list-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-right: solid 1px;
		padding: 1em;

		button.refresh-students {
			margin: 0.5em 0;
			cursor: pointer;
		}

		input[type="checkbox"] {
			cursor: pointer;
		}

		ul.student-list {
			color: #333;
			padding: 0;
		}
	}

	ul.puzzle-display {
		display: flex;
		flex-wrap: wrap;

		div.student-name {
			font-size: 1.5em;
			span.name {
				text-decoration: underline;
			}
			span.activity-indicator {
				margin-left: 0.5em;
				color: red;
				font-style: italic;
			}
		}
	}
}
